/* Header component style */
#header{
  position: sticky;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
#header .logo{
  padding: 1rem;
}
#header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header nav a{
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: #333;
}


/* chat page styles */
#chat-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
